<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/nume" method="GET">
      <label for="team_name">Enter name: </label>
      <input id="team_name" type="text" name="text"/>
      <input type="submit" value="OK" />
    </form>
  </body>
  <script src="db.mjs"></script>
</html>
