<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container text-center">
      <h1 class="display-1" id="heading">Text list</h1>
    </div>
    <ul class="list-group">
      <% const THIRTY = 30; %>
      <% if (textList && textList.length > 0) { %>
        <% textList.forEach(text => { %>
          <% if (text.body.length < THIRTY) { %>
            <li class="list-group-item"><%= text.body %></li>
          <% } else { %>
            <li class="list-group-item"><a href="/text/<%=text.id%>"><%= text.body.slice(0, 5)%>...</a></li>
          <% } %>
        <% }); %>
      <% } %>
    </ul>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
