<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ol id="text-list">
    </ol>
  </body>
  <script>
    const listContainer = document.getElementById('text-list');
    const text = '<%=data%>';
    function importDataFromDb(text) {
      const createListElement = document.createElement('li');
      createListElement.innerText = text;
      listContainer.appendChild(createListElement);
    }
    importDataFromDb(text);
  </script>
</html>
