<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ol id="text-list">
    </ol>
  </body>
  <ul>
    <% if (value && value.length > 0) { %>
      <% value.forEach(user => { %>
        <li><%= user.text %></li>
      <% }); %>
    <% } %>
  </ul>
</html>
